.App {
  /* background-color: lighten(#282c34, 0.8); */
  background-color: #484f5d;
  min-height: 100vh;
}

.App-logo {
  font-size: calc(10px + 1.5vmin);
  margin: 0 0 0;
}

.App-header,
.App-footer {
  background-color: #282c34;
  color: #fff;
  display: flex;
  min-height: 50px;
  padding: 10px 20px;
}

.App-header {
  margin: 0 0 20px;
  min-height: 50px;
}

.App-footer {
  /* min-height: 100%; */
  height: 50px;
  line-height: 30px;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* .App-link {
  color: #61dafb;
} */
