body {
  background-color: #282c34;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* :root {
  font-size: calc(1vw + 1vh + .5vmin);
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.Main {
  margin: 0 0 0 50px;
  padding: 0 0 50px;
  background-color: #EFEFEF;
  min-height: 100vh;
}

.Wrapper {
  display: flex;
  flex-flow: row;
  /* margin: 0 0 20px; */
}

.Header,
.Footer {
  background-color: #282c34;
  color: #fff;
  display: flex;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
}

.Text,
.Title {
  color: #282c34;
}

.Text.Text--small {
  font-size: 12px;
}

.Text.Text--gray {
  color: #B5B6B9;
}

.Title {
  font-size: 20px;
  margin: 0 0 30px;
}
